@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --color-gray-10: #555555;
  --color-gray-20: #484848;
  --color-gray-30: #3b3b3b;
  --color-gray-40: #2d2d2d;
  --color-gray-50: #202020;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid var(--color-gray-10);
  padding: 30px;
}

.links {
  text-align: center;
}

.links a {
  color: var(--color-gray-30);
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  text-decoration: none;
}

.links a:hover {
  color: var(--color-gray-50);
  border-bottom: 2px solid var(--color-gray-50);
}

.wrapper {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;
}

.img-container {
  background: var(--color-gray-50);
  border: 3px solid var(--color-gray-10);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 32px auto 16px;
  height: 100px;
  width: 100px;
}

.img-container img {
  width: 50px;
}

.wrapper h1 {
  color: var(--color-gray-30);
  font-size: 32px;
}

.wrapper h2 {
  color: var(--color-gray-30);
  font-size: 18px;
}

.wrapper p {
  font-size: 16px;
  margin: 12px auto;
  max-width: 450px;
}

.wrapper ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 32px;
}

.wrapper ul li {
  font-size: 16px;
  margin-top: 4px;
  opacity: 0.8;
}